<!DOCTYPE html>
<html>
  <head>
    <title>SportsTalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script> -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @errors %>
        <ul>
          <% @errors.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= link_to "See Sports | ", sports_path %>
      <% if logged_in? %>
       <%= link_to "Sign Out | ", logout_path, method: "POST" %>
       <%= link_to "Profile", user_path(current_user) %>
       <% else %>
      <%= link_to "Sign In", sessions_path %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
        <p style=" color: white;"> &copy SportsTalk 2019 </p>
    </footer>
  </body>
</html>
