<!DOCTYPE html>
<html>
  <head>
    <title>SportsTalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @logged_in_user %>
        <%= @logged_in_user.name %>
      <% end %>
      <% if @errors %>
        <ul>
          <% @errors.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
